html,body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: "微软雅黑";
}
.clear{
	clear:both;
}
a{
	text-decoration: none;
	color: #000;
}
p,ul,li,div,h1,h2,h3{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.index-nav{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #F4464E;
}
.index-nav h1{
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 50px;
}
.index-menu-user{
	width: 80%;
	background-color: #fafafa;
}
.index-menu-search{
	width: 80%;
	background-color: #fafafa;
}
.icon-menu-user{
	position: absolute;
	left: 5%;
	top: 15px;
	width: 25px;
	z-index: 1;
	cursor: pointer;
}
.icon-menu-back{
	position: absolute;
	left: 5%;
	top: 11px;
	width: 15px;
	z-index: 1;
	cursor: pointer;
}
.icon-menu-search{
	position: absolute;
	right: 5%;
	top: 12px;
	width: 25px;
	z-index: 1;
	cursor: pointer;
}
.icon-menu-buildingmenu{
	position: absolute;
	right: 5%;
	top: 12px;
	width: 25px;
	z-index: 1;
	cursor: pointer;
}
.index-container-ul{
	width: 90%;
	margin: 0 auto;
}
.index-container-li{
	position: relative;
	margin-top: 20px;
	width: 100%;
	border-radius: 10px;
	position: relative;
	background-size: 100%;
	background-position: auto;
}
.index-building-img-div img{
	position: relative;
	border-radius: 10px;
	width: 100%;
}
.index-building-info{
	width: 100%;
	position: absolute;
	bottom: 20px;
	background-color: rgba(0,0,0,0.7);
}
.index-gooutdoormap{
	float: right;
	cursor: pointer;
	margin-right: 5%;
}
.index-building-name{
	bottom: 20px;
	height: 40px;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	padding-left: 5%;
	float: left;
}
.index-building-distance{
	font-size: 12px;
	color: #fff;
}
.icon-index-locate{
	width: 15px;
	height: 15px;
	margin-left: 10px;
	margin-top: 3px;
}
.index-menu-user{
	width: 50%;
	height: 400px;
	left: 0;
	top: 0;
}
.index-menu-user-ul{
	width: 100%;
}
.index-menu-user-li-login{
	width: 100%;
	/*height: 50px;*/
	/*border-bottom: 1px solid #222;*/
}
.index-menu-user-li-collect{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #222;
}
.index-menu-user-li-about{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #222;
}
.index-menu-search{
	width: 50%;
	height: 400px;
	background-color: #fff;
	right: 0;
	top: 0;
}
.index-search-div{
	background-color: #434343;
	/*border-bottom: 1px solid #dcdcdc;*/
	height: 50px;
}
.index-search-input{
	border-radius: 5px;
	width: 225px;
	margin-left: 20px;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background-color: #fff;
	border: 0;
	border: 2px solid #F4464E;
	float: left;
}
.index-search-button{
	background: #F4464E url('../img/icon-menu-search.png')no-repeat center;
	background-size: 20px;
	border: 0;
	height: 30px;
	width: 50px;
	border-radius: 0px 5px 5px 0px;
	float: left;
	margin-left: -50px;
	z-index: 9;
	margin-top: 10px;
}
.index-menu-search-ul{
	width: 100%;
}
.index-menu-search-ul li{
	/*line-height: 40px;*/
	/*padding-left: 20px;*/
	position: relative;
	color: #434343;
	font-size: 14px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dcdcdc;
	padding: 10px;
}
.building-cate{
	width: 90%;
	margin: 0 auto;
}
.building-cate li{
	height: 40px;
	float: left;
	border-radius: 5px;
	/*border: 1px solid #8aa5aa;*/
	margin-right: 10px;
	margin-top: 15px;
	box-shadow: 1px 1px 1px #dcdcdc;
}
.building-cate-li:hover{
	background-color: #fafafa;
	box-shadow: 2px 2px 2px #ccc;
}
.building-cate-li-icon{
	width: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.building-cate-li-catename{
	line-height: 40px;
	float: left;
	font-size: 14px;
	padding-right: 5px;
}
.index-menu-search-ul a:hover{
	background-color: #434343;
}
.index-menu-search-ul a{
	border-bottom: 1px solid #000;
}
.index-menu-search-ul-shopname{
	font-weight: 700;
}
.index-menu-search-ul-img{
	width: 60px;
	height: 60px;
	float: left;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #dcdcdc;
}
.index-menu-search-ul-shopinfo{
	float: left;
	margin-left: 10px;
}
.index-menu-search-ul-shopinfo p{
	margin: 0;
	padding: 0;
	/*font-size: 14px;*/
}
.index-menu-search-ul-location{
	font-size: 12px;
	line-height: 20px;
}
.index-menu-search-ul-label{
	float: left;
}
.index-menu-search-ul-label-cloth{
	font-size: 12px;
	background-color: #ec582e;
	border-radius: 5px;
	padding: 1px 5px;
	line-height: 18px;
	text-align: center;
	margin-top: 15px;
	/*width: 20px;*/
	color: #fff;
}
.index-menu-search-ul-locate{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 12px;
}
.index-menu-search-ul-locate img{
	width: 20px;
	height: 20px;
	float: right;
}
#content{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer 10+ */
    /*box-shadow: 2px 2px 2px #000;*/
    /*border: 1px solid #cdcdcd;*/
    position: absolute;
    z-index:100;
    background-color:#fff;
    width:100%;
}
.right-drawer{
	background-color: #fafafa;
	/*padding: 0px 5px;*/
}
.left-drawer{
	/*padding: 0px 5px;*/
	background-color: #fafafa;
}
.snapjs-right .left-drawer,
.snapjs-left .right-drawer {
    display: none;
}
.building-shopinfo{
	width: 90%;
	margin: 0 auto;
	display: block;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 1px 1px #dcdcdc;
}
.building-shopinfo-li{
	border: 0;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	font-size: 14px;
	padding: 0px 3%;
}
.snap-drawers{
	position: absolute;
}
.left-drawer{
	position: absolute;
	left:0;
	width:265px;
}
.right-drawer{
	position: absolute; 
	right:0;
	width:265px;
}
.shopcontainer{
	background-color: #eee;
}
.shop-top .shop-logo{
	border-radius: 10px;
	max-width: 30%;
	margin-left: 5%;
	float: left;
}
.shop-body{
	background-color: #eee;
}
.shop-top{
	margin-top: 20px;
	position: relative;
	margin-bottom: 15px;
}
.shop-body #content{
	background-color: #eee;
}
.shop-top-right{
	float: right;
	margin-right: 5%;
	text-align: right;
}
.shop-top-right-bottom{
	position: absolute;
	bottom: 0px;
	right: 5%;
}
.icon-mapoutdoor,.icon-mapindoor{
	width: 22px;
	float: left;
	margin-right: 5px;
}
.shop-top-mapoutdoor,.shop-top-mapindoor{
	line-height: 30px;
	font-size: 14px;
	float: left;
}
.shop-tag-li{
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #78c5db;
	color: #fff;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 12px;
}
.shop-tag{
	display: block;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 15px;
}
.shop-coupon,.shop-thisinfo{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 15px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	box-shadow: 2px 2px 2px #dcdcdc;
}
.shop-top-right-bottom a{
	color: #000;
}
.shop-coupon-ul li{
	min-height: 40px;
	border-bottom: 1px solid #dcdcdc;
	padding-left: 3%;
	color: #333;
}
.shop-coupon-ul li:last-child{
	border-bottom: 0;
}
.shop-coupon-ul-title{
	line-height: 40px;
	color: #333;
}
.shop-thisinfo{
	padding: 5px 3%;
	font-size: 14px;
	color: #333;
	line-height: 20px;
}
.building-click-mall,.building-click-brand{
	cursor: pointer;
	line-height: 40px;
	padding-left: 3%;
	border-bottom: 1px solid #dcdcdc;
	box-shadow: 1px 1px 1px #eee;
	position: relative;
}
.index-click-mall,.index-click-brand{
	cursor: pointer;
	line-height: 40px;
	padding-left: 3%;
	border-bottom: 1px solid #dcdcdc;
	box-shadow: 1px 1px 1px #eee;
	position: relative;
}
.index-menu-user-li-login{
	height: 60px;
	background-color: #434343;
}
.index-menu-avatar{
	margin-top: 5px;
	margin-left: 15px;
}
.index-menu-collect,.index-menu-aboutus{
	margin-top: 12px;
	margin-left: 15px;
	float: left;
}
.index-menu-collect-p,.index-menu-aboutus-p{
	line-height: 50px;
	font-size: 14px;
	float: left;
	margin-left: 15px;
}
.shop-coupon-ul-li{
	background: url('../img/icon-back-gray.png') right center no-repeat;
	padding-left: 20px;
	background-position: 97%;
}
.shop-coupon-ul-li-img{
	height: 31px;
	float: left; 
	margin-top: 5px;
}
.shop-coupon-ul-li-p{
	float: left;
	margin-left: 10px;
	line-height: 40px;
	font-size: 12px;
}
#content,.left-drawer,.right-drawer{
	overflow: auto;
}
.collect-building{
	padding-top: 50px;
}
.collect-building-title{
	width: 95%;
	background-color: #c71c24;
	height: 30px;
	line-height: 30px;
	padding-left: 5%;
	color: #fff;
	font-size: 13px;
}
.collect-building-ul{
	width: 90%;
	margin: 0 auto;
}
.collect-building-li{
	width: 45%;
	box-shadow: 2px 2px 2px #dcdcdc;
	float: left;
	margin-right: 4.3%;
	margin-top: 15px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
}
.collect-building-img img{
	width: 100%;
	border-radius: 5px 5px 0px 0px;
}
.collect-building-name{
	font-size: 13px;
	text-align: center;
	line-height: 25px;
}
.collect-shop{
	padding-top: 20px;
}
.collect-shop-title{
	width: 95%;
	background-color: #c71c24;
	height: 30px;
	line-height: 30px;
	padding-left: 5%;
	color: #fff;
	font-size: 13px;
}
.collect-shop-ul{
	width: 90%;
	margin: 0 auto;
}
.collect-shop-li{
	width: 30%;
	box-shadow: 2px 2px 2px #dcdcdc;
	float: left;
	margin-right: 2.5%;
	margin-top: 15px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
}
.collect-shop-img img{
	width: 100%;
	border-radius: 5px 5px 0px 0px;
}
.collect-shop-name{
	font-size: 13px;
	text-align: center;
	line-height: 25px;
}
.collect-container{
	padding-bottom: 20px;
}
.cate-container-ul{
	width: 90%;
	margin: 0 auto;
}
.cate-container-li{
	width: 100%;
	height: 60px;
	line-height: 60px;
	/*background-color: #eee;*/
	border-bottom: 1px solid #dcdcdc;
	background: url('../img/icon-back-gray.png') right center no-repeat;
	background-size: 8px;
}
.cate-container-logo img{
	width: 50px;
	float: left;
	margin-top: 5px;
	box-shadow: 2px 2px 2px #dcdcdc;
}
.cate-container-name{
	padding-left: 20px;
	float: left;
}
.cate-container-title{
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	color: #fff;
	width: 95%;
	padding-left: 5%;
	background-color: #c71c24;
}