<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>Atlas Mall</title>
</head>
<body>
	<div class="shop-allcontainer">
		<div class="index-nav nav-position">
			<h1>{{couponShopname}}</h1>
			<img style="z-index:220" src="./img/icon-back.png" onclick="history.go(-2)" alt="" class="icon-menu-back" >
			<a href="{{couponindoormap}}"><img src="./img/icon-mapindoor.png" alt="" style="z-index:220;position: absolute;top: 12px;right: 5%;width: 23px;"></a>
		</div>
	</div>
	<iframe width=100% name=couponurl frameborder=0 src='{{couponUrl}}' id="couponiframe"></iframe>
	<!-- <div class="ICPnumber"><a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">苏州图云信息科技有限公司&nbsp;&nbsp;版权所有&nbsp;&nbsp;苏ICP备14053328号</a></div> -->
</body>
</html>