
<ng-include src="'./html/com-nav.html'"></ng-include>
<div class="container">

    <div class="row">

        <div>
            <ng-include src="'./html/com-menu.html'"></ng-include>
        </div>

        <div class="center-content">
            <div class="shipperLoader">
                <div class="col-lg-3">
                    <ng-include src="'./html/left-menu.html'"></ng-include>
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <ul class="nav nav-pills" role="tablist">
                                <li role="presentation" class="col-lg-4">
                                    <div class="input-prepend input-group list-inline">
                                        <span class="add-on input-group-addon"><i class="glyphicon glyphicon glyphicon-calendar"></i></span>
                                        <input type="text" class="form-control dateShow"  id="dateSelect" value="" readonly class="span4"/>
                                    </div>
                                </li>
                                <li role="presentation"  class="col-lg-2">
                                    <button class="btn btn-success" ng-click="setToToday()">Hoje</button>
                                </li>
                                <li role="presentation"  class="col-lg-3">
                                    <select required="" class="form-control" ng-model="minuteSpace" ng-options=" (m + '分鐘') for m in minutes"
                                            ng-change="">
                                        <option value="">Intervalo de Saída</option>
                                    </select>
                                </li>
                                <li role="presentation"  class="col-sm-2">
                                    <button class="btn btn-primary" id='overviewSearch' ng-click="{true: searchDataByJobsiteId(), false: searchDataByUserId()}[curPageType == 'jobsite']">Procurar</button>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body" style="min-height: 365px;min-width: 800px;overflow: auto" id="chart-display">
                            <div ng-show="!errMsg && curDrawData" style="width: 100%">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default" ng-class="{active: curChartType == 'bar'}" ng-click="drawBarChart()">甘特圖</button>
                                    <button type="button" class="btn btn-default" ng-class="{active: curChartType == 'cake'}" ng-click="drawCakeChart()">圓餅圖</button>
                                    <button type="button" class="btn btn-default" ng-class="{active: curChartType == 'pillar'}" ng-click="drawPillarChart()">柱狀圖</button>
                                </div>
                                <div id='chart-render'>
                                </div>
                            </div>
                            <div ng-show="!!errMsg && !curDrawData" style="width: 100%">
                                <h1 class="text-danger">{{errMsg}}</h1>
                            </div>
                            <div class="panel panel-default" ng-show="!errMsg && !curDrawData" >
                                <div class="panel-body" style="padding-left: 10%;height: 300px">
                                    <br>
                                    <h3><span class="label label-default">Selecione Local > Selecionar Data > Consulta</span></h3>
                                    <br>
                                    <h3><span class="label label-default">Selecione Pessoa > Selecionar Data > Consulta</span></h3>
                                    <br>
                                    <h4><span class="text-primary">Os dados da análise do dia só podem ser visualizados no dia seguinte</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div><!-- /col-xs-9 -->

    </div><!-- /row -->

</div> <!-- /container -->
<ng-include src="'./html/com-footer.html'"></ng-include>

