
<ng-include src="'./html/com-nav.html'"></ng-include>
<div class="container">

<div class="row">

<div>
    <ng-include src="'./html/com-menu.html'"></ng-include>
</div>

<div class="center-content">

<!-- device list -->
<div class="panel panel-success" ng-show="showDeviceList">
    <div class="panel-heading" style="text-align: center">
        <div class="input-group col-lg-3">
            <input type="text"  ng-model="deviceQuery" class="form-control" placeholder="Procurar ID de Usuário" value="{{kw}}">
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="searchData(deviceQuery)"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
    </div>
    <table class="table table-hover" id="example">
        <thead>
        <tr>
            <th> # </th>
            <th>ID do Usuário</th>
            <th>Bateria</th>
            <th>Mac</th>
            <th>OBS</th>
            <!--
            <th>所在地區</th>
            -->
            <th>Data da Criação</th>
            <!--
            <th>修改時間</th>
            -->
            <th>
                &nbsp;&nbsp;<span class="glyphicon glyphicon-plus-sign"  ng-mouseover="selected($event.target)" ng-mouseout="unselected($event.target)" ng-click="addDevice()" title="Aplicar" style="font-size:20px;cursor: pointer"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in devices" style="cursor: pointer;">
            <td> {{$index+1+ (curPage-1) * 10}}</td>
            <td>{{device.userId || '-'}}</td>
            <td>
                <span ng-show='device.blt && device.blt.battery != null'style='display:inline-block;width: 32px; height: 32px;background: url("{{battery[device.blt.battery]}}") center;'></span>
            </td>
            <td>{{device.serialId || '-'}}</td>
            <td>{{device.note || '-'}}</td>
            <!--
            <td>{{device.area || '-'}}</td>
            -->
            <td>{{device.createAt || '-'}}</td>
            <!--
            <td>{{device.updateAt || '-'}}</td>
            -->
            <td><span class="glyphicon glyphicon-pencil"  ng-mouseover="selected($event.target)" ng-mouseout="unselected($event.target)" ng-click="editDevice(device)" title="編輯" style="font-size:20px;cursor: pointer"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-trash"  ng-mouseover="selected($event.target)" ng-mouseout="unselected($event.target)" ng-click="removeDevice(device)" title="回收站" style="font-size:20px;cursor: pointer"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li ng-class="{disabled: curPage == 1}"><a ng-href="#/device/1?{{kw}}"><span>Primeira Página</span></a></li>
        <li ng-class="{disabled: curPage == 1}"><a ng-href="#/device/{{curPage <= 1 ? 1 : curPage - 1 }}?{{kw}}"><span>Página Anterior</span></a></li>
        <li ng-repeat='num in pageNums' ng-class='{active:num == curPage}' ><a ng-href="#/device/{{num}}?{{kw}}"><span>{{num}}</span></a></li>
        <li ng-class="{disabled: curPage == totalPages || totalPages == 1 || totalPages == 0}"><a ng-href="#/device/{{curPage >= totalPages ? totalPages : curPage + 1}}?{{kw}}"><span>Próxima Página</span></a></li>
        <li ng-class="{disabled: curPage == totalPages || totalPages == 1 || totalPages == 0}"><a ng-href="#/device/{{totalPages}}?{{kw}}"><span>Última Página</span></a></li>
    </ul>
</div>
    <div class="shipperLoader" ng-show="!showDeviceList">
        <form class="form-horizontal" role="form" name="deviceForm">
            <div class="form-group">
                <label class="col-sm-3 control-label">Nome do Usuário</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="newDevice.userId" placeholder="Nome do Usuário">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Número do MAC</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="newDevice.serialId"  placeholder="Número do MAC" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Observação</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="newDevice.note" placeholder="Observação">
                </div>
                <!--
                <label class="col-sm-3 control-label">所在地區</label>
                <div class="col-sm-6">
                    <div class="col-sm-3" style="padding-left: 0">
                        <select required="" class="form-control" ng-model="address.province" ng-options="key as key for (key,value) in division"
                                ng-change="address.city='';address.district='';">
                            <option value="">省</option>
                        </select>
                    </div>
                    <div  class="col-sm-3">
                        <select class="form-control" ng-model="address.city" ng-options="key as key for (key,value) in division[address.province]"
                                ng-change="address.district='';">
                            <option value="">市</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="address.district" ng-options="value as value for value in division[address.province][address.city]"
                                required="required">
                            <option value="">區</option>
                        </select>
                    </div>
                </div>
                 -->
            </div>
            <div class="form-group">
                <div class="col-sm-6 control-label">
                    <button type="button"  class="btn btn-default" ng-click="cancelAdd()">Cancelar</button> &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" ng-disabled="deviceForm.$invalid" ng-show="isAdd" ng-click="saveAdd()">Aplicar</button>
                    <button type="button" class="btn btn-primary" ng-disabled="deviceForm.$invalid" ng-show="!isAdd" ng-click="saveEdit()">保存</button>
                </div>
            </div>
        </form>
    </div>

<!-- <button id="btn_add_device" type="button" class="btn btn-success">Add Device</button> -->

<!-- Bootstrap core JavaScript
================================================== -->

</div><!-- /col-xs-9 -->

</div><!-- /row -->

</div> <!-- /container -->
<ng-include src="'./html/com-footer.html'"></ng-include>
